html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

aside {
  flex-basis: 200px;
}

main {
  flex: 1 1 200px;
}

header {
  background-color: orange;
  display: flow-root;
}

footer {
  background-color: purple;
  display: flow-root;
}

aside {
  background-color: greenyellow;
  display: flow-root;
}

main {
  background-color: hotpink;
  display: flow-root;
}
