:root {
  --primary-color: blue;
  --secondary-color: yellow;
  --border-radius: 5px;
}

body {
  /* background: linear-gradient(blue, yellow); */
}

.special {
  color: var(--primary-color);
}

.highlight {
  background-color: var(--secondary-color);
  color: aqua;
}

.hidden {
  display: none !important;
}

#mainMenu {
  padding: 0;
  list-style: none;

  & a {
    color: green;
  }
}

h1 + p {
  --secondary-color: green;
  color: lime;
}

p {
  &::before {
    content: 'Paul ';
  }

  &::first-letter {
    font-size: 2rem;
  }
}

a[href^='http']::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 2px;

  height: 14px;
  width: 14px;
  margin-right: 5px;

  background: url(../assets/external.jpg);
  background-size: contain;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li:nth-child(2n + 1) a {
  color: var(--primary-color) !important;
}

// 1. Specificity
// 2. Importance
// 3. Source code order

/**
Specificity

E, ::pseudo-element           - 1
.class, :pseudo-class, [attr] - 10
#id                           - 100
inline styles                 - 1000

Attribute selectors
[href] - All elements with the href attribute
[href=http://google.com] - href attribute that is exactly http://google.com
[href^=http] - With a href attribute that starts with http
[http$=.com] - That ends with .com
[http*=example] - contains inside of it the text example
[http~=example] - contains inside of it the text example and that text is separated by spaces from the rest of the text
*/
